python-telegram-bot==20.3
sqlalchemy==2.0.23
google-generativeai
python-dotenv==1.0.0
psycopg2-binary==2.9.9
requests==2.31.0
langchain-groq
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
chromadb>=0.5.0
numpy==1.26.4
fastembed
